{% extends "layouts/_base.html" %}
{% block basecontent %}
    <header class="z-99 fixed right-0 left-0 bg-white border-b border-gray-50 dark:bg-gray-950 dark:border-gray-900">
        {% include 'layouts/partials/navbar-main.html' with classes="relative max-w-full mx-auto" %}
    </header>
    <div class="flex pt-20 overflow-hidden">

        <div id="main-content"
             class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
            <main>
                {% block content %} {% endblock content %}
            </main>
        </div>
    </div>

{% endblock basecontent %}