{% extends "layouts/_base.html" %}
{% block basecontent %}
    <header class="left-0 right-0 fixed z-99 bg-secondary-500/90 shadow-xs dark:bg-gray-800 dark:border-gray-900">
        {% include 'layouts/partials/navbar-main.html' with classes="relative max-w-screen-2xl mx-auto" %}
    </header>
    <div class="flex pt-20 overflow-hidden">

        <div id="main-content"
             class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto">
            <main>
                {% block content %} {% endblock content %}
            </main>
        </div>
    </div>
{% endblock basecontent %}