{% if item.children %}
    <li>
        <button type="button"
                class="sidebar-menu-item group {% if item.active %}menu-item-active{% endif %}"
                aria-controls="dropdown-layouts" data-collapse-toggle="dropdown-layouts">
            {% if item.icon %}
                <i class="{{ item.icon }} flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
            {% endif %}
            <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>{{ item.label }}</span>
            <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
        <ul id="dropdown-layouts" class="hidden py-2 space-y-2">
            {% for child in item.children %}
                {% include "layouts/partials/sidebar-menu-item.html" with item=child %}
            {% endfor %}
        </ul>
    </li>
{% else %}
    <li>
        <a href="{{ item.url }}"
           class="sidebar-menu-item group {% if item.active %}menu-item-active{% endif %}">
            {#            Include icon from item if set #}
            {% if item.icon %}
                <i class="{{ item.icon }} flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
            {% endif %}
            <span class="ml-3" sidebar-toggle-item>{{ item.label }}</span>
        </a>
    </li>
{% endif %}