@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@import "flowbite/src/themes/default.css";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@theme {
    --color-primary: oklch(48.077% 0.09686 246.25);
    --color-primary-50: oklch(92.264% 0.02366 240.1);
    --color-primary-100: oklch(87.345% 0.03957 243.53);
    --color-primary-200: oklch(77.865% 0.06932 242.13);
    --color-primary-300: oklch(68.344% 0.10043 244.06);
    --color-primary-400: oklch(58.842% 0.12246 246.71);
    --color-primary-500: oklch(48.077% 0.09686 246.25);
    --color-primary-600: oklch(42.452% 0.08364 245.7);
    --color-primary-700: oklch(36.675% 0.0694 245.36);
    --color-primary-800: oklch(30.349% 0.05584 246.05);
    --color-primary-900: oklch(24.028% 0.03971 245.88);
    --color-primary-950: oklch(20.662% 0.0317 244.34);

    --color-secondary: oklch(77.847% 0.14077 47.717);
    --color-secondary-50: oklch(97.189% 0.01526 48.562);
    --color-secondary-100: oklch(94.849% 0.029 50.616);
    --color-secondary-200: oklch(90.315% 0.05582 49.232);
    --color-secondary-300: oklch(85.92% 0.08419 49.221);
    --color-secondary-400: oklch(81.756% 0.11235 48.335);
    --color-secondary-500: oklch(77.847% 0.14077 47.717);
    --color-secondary-600: oklch(70.167% 0.19836 42.817);
    --color-secondary-700: oklch(59.071% 0.18515 40.065);
    --color-secondary-800: oklch(43.935% 0.13457 41.226);
    --color-secondary-900: oklch(27.342% 0.07643 46.348);
    --color-secondary-950: oklch(18.176% 0.04586 53.465);

    --color-gray: oklch(66.397% 0.03914 275.05);
    --color-gray-50: oklch(93.771% 0.00679 277.16);
    --color-gray-100: oklch(91.024% 0.00973 273.35);
    --color-gray-200: oklch(84.959% 0.0169 274.78);
    --color-gray-300: oklch(78.791% 0.02441 275.27);
    --color-gray-400: oklch(72.797% 0.03085 274.99);
    --color-gray-500: oklch(66.397% 0.03914 275.05);
    --color-gray-600: oklch(54.497% 0.05226 275.23);
    --color-gray-700: oklch(43.88% 0.03873 273.32);
    --color-gray-800: oklch(32.367% 0.02728 273.15);
    --color-gray-900: oklch(19.742% 0.01213 277.78);
    --color-gray-950: oklch(12.338% 0.00554 285.56);

    --font-sans: 'Poppins', sans-serif;
}

@theme inline {
    /*    Set success to --color-green-* */
    --color-success-50: var(--color-green-50);
    --color-success-100: var(--color-green-100);
    --color-success-200: var(--color-green-200);
    --color-success-300: var(--color-green-300);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);
    --color-success-600: var(--color-green-600);
    --color-success-700: var(--color-green-700);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);
    --color-success-950: var(--color-green-950);
    --color-success: var(--color-green-500);

    --color-danger-50: var(--color-red-50);
    --color-danger-100: var(--color-red-100);
    --color-danger-200: var(--color-red-200);
    --color-danger-300: var(--color-red-300);
    --color-danger-400: var(--color-red-400);
    --color-danger-500: var(--color-red-500);
    --color-danger-600: var(--color-red-600);
    --color-danger-700: var(--color-red-700);
    --color-danger-800: var(--color-red-800);
    --color-danger-900: var(--color-red-900);
    --color-danger-950: var(--color-red-950);
    --color-danger: var(--color-red-500);

    --color-warning-50: var(--color-yellow-50);
    --color-warning-100: var(--color-yellow-100);
    --color-warning-200: var(--color-yellow-200);
    --color-warning-300: var(--color-yellow-300);
    --color-warning-400: var(--color-yellow-400);
    --color-warning-500: var(--color-yellow-500);
    --color-warning-600: var(--color-yellow-600);
    --color-warning-700: var(--color-yellow-700);
    --color-warning-800: var(--color-yellow-800);
    --color-warning-900: var(--color-yellow-900);
    --color-warning-950: var(--color-yellow-950);
    --color-warning: var(--color-yellow-500);

    --color-info-50: var(--color-blue-50);
    --color-info-100: var(--color-blue-100);
    --color-info-200: var(--color-blue-200);
    --color-info-300: var(--color-blue-300);
    --color-info-400: var(--color-blue-400);
    --color-info-500: var(--color-blue-500);
    --color-info-600: var(--color-blue-600);
    --color-info-700: var(--color-blue-700);
    --color-info-800: var(--color-blue-800);
    --color-info-900: var(--color-blue-900);
    --color-info-950: var(--color-blue-950);
    --color-info: var(--color-blue-500);
}

@layer base {
    .sidebar-menu-item {
        @apply flex w-full items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-200 dark:text-gray-200 dark:hover:bg-gray-800;
    }

    .menu-item-active {
        @apply text-primary-500 dark:text-primary-50 bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-800;
    }
}

@layer components {
    .form-control {
        @apply bg-gray-50 border border-gray-50 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-800 dark:placeholder-gray-400 dark:text-white dark:focus:ring-secondary-500 dark:focus:border-secondary-500;
    }

    label:has(+ .form-control), .form-control + label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }

    .errorlist {
        @apply text-sm text-danger-600 dark:text-danger-500;
        &.nonfield {
            @apply mb-2 p-2 dark:border border-l-4 dark:border-l-4 border-danger-600 dark:border-danger-500 text-danger-600 dark:text-danger-400 bg-danger-50 dark:bg-danger-900;
        }
    }
}

#loader {
    transition: opacity 0.3s;
}

#loader.hide {
    opacity: 0;
    pointer-events: none;
}